<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>E-Wallet</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'wallet/styles.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body>

    <div class="navbar">
        <div><strong>E-Wallet</strong></div>
        <div>
            {% if user.is_authenticated %}
                <span><i class="fa-solid fa-user"></i> {{ request.user.username }}</span>

                <form action="{% url 'logout' %}" method="post" style="display:inline;">
                    {% csrf_token %}
                    <button class="btn btn-danger" type="submit">
                        <i class="fa-solid fa-right-from-bracket"></i> Salir
                    </button>
                </form>
            {% else %}
                <a class="btn btn-primary" href="{% url 'login' %}">
                    <i class="fa-solid fa-right-to-bracket"></i> Login
                </a>
            {% endif %}
        </div>
    </div>

    <div class="container">
        {% block content %}
        {% endblock %}
    </div>

    <script>
    document.addEventListener("DOMContentLoaded", function () {

        const checkbox = document.querySelector(".switch input");
        const statusText = document.getElementById("wallet-status-text");

        if (checkbox && statusText) {
            checkbox.addEventListener("change", function () {
                if (checkbox.checked) {
                    statusText.textContent = "🟢 Activa";
                } else {
                    statusText.textContent = "🔴 Inactiva";
                }
            });
        }

    });
    </script>
</body>
</html>