{% extends 'wallet/base.html' %}
{% load static %}

{% block content %}

<div style="display:flex; justify-content:center; align-items:center; min-height:70vh;">

    <div class="card" style="display:flex; max-width:900px; width:100%; overflow:hidden;">

        <div class="login-hero">

            <div class="login-hero-content">
                <h2>Tu billetera digital</h2>

                <p>
                    Administra tu dinero de forma segura, rápida y moderna.
                </p>
            </div>

        </div>

        <!-- Formulario -->
        <div style="flex:1; padding:30px;">
            <h2>Iniciar Sesión</h2>

            <form method="post">
                {% csrf_token %}

                <div>
                    <label>Usuario</label>
                    {{ form.username }}
                </div>

                <div>
                    <label>Contraseña</label>
                    {{ form.password }}
                </div>

                <button class="btn btn-primary" style="width:100%;" type="submit">
                    Ingresar
                </button>
            </form>

            <p style="margin-top:15px;">
                ¿No tienes cuenta?
                <a href="{% url 'register' %}">Regístrate</a>
            </p>
        </div>

    </div>

</div>

{% endblock %}