{% extends 'wallet/base.html' %}

{% block content %}

<div style="display:flex; justify-content:center; align-items:center; min-height:70vh;">

    <div class="card" style="display:flex; max-width:900px; width:100%; overflow:hidden;">

        <!-- Imagen -->
        <div style="flex:1; background:linear-gradient(135deg,#0B2BD6,#00E676); display:flex; align-items:center; justify-content:center;">
            <img src="https://cdn-icons-png.flaticon.com/512/891/891419.png" style="width:120px;">
        </div>

        <!-- Formulario -->
        <div style="flex:1; padding:30px;">
            <h2>Iniciar Sesión</h2>

            <form method="post">
                {% csrf_token %}

                <div>
                    <label>Usuario</label>
                    {{ form.username }}
                </div>

                <div>
                    <label>Contraseña</label>
                    {{ form.password }}
                </div>

                <button class="btn btn-primary" style="width:100%;" type="submit">
                    Ingresar
                </button>
            </form>

            <p style="margin-top:15px;">
                ¿No tienes cuenta?
                <a href="{% url 'register' %}">Regístrate</a>
            </p>
        </div>

    </div>

</div>

{% endblock %}