{% extends 'wallet/base.html' %}

{% block content %}

<div class="card">
    <h2><i class="fa-solid fa-wallet"></i> Configuración de Wallet</h2>

    <form method="post">
        {% csrf_token %}

        <div class="form-grid">

            <div class="form-group">
                <label><i class="fa-solid fa-toggle-on"></i> Estado de la Wallet</label>

                <div style="display:flex; align-items:center; gap:10px;">

                    <label class="switch">
                        {{ form.is_active }}
                        <span class="slider"></span>
                    </label>

                    <span id="wallet-status-text">
                        {% if form.is_active.value %}
                            🟢 Activa
                        {% else %}
                            🔴 Inactiva
                        {% endif %}
                    </span>

                </div>

                <small style="color:#64748b;">
                    Activa o desactiva la billetera
                </small>
            </div>

        </div>

        <div class="form-actions">
            <a class="btn btn-danger" href="{% url 'transaction_list' %}">Cancelar</a>
            <button class="btn btn-success" type="submit">
                Guardar
            </button>
        </div>

    </form>
</div>

{% endblock %}